a{
  text-decoration: none;
  color:rgb(85, 85, 228)
}

a:hover{
  cursor:pointer;
  font-weight: bold;
}

/* .register-form{
  width:50rem;
} */

.btn{
  background-color: blue;
  color:white;
  margin-top: 2rem;
  align-self: center;
  margin-left:50%;
}