{% import 'bootstrap/wtf.html' as wtf %}
{% macro displayPitchList(pitches_list,comments,upvotes,downvotes,downvote_form) %} {% for pitch in pitches_list %}
<div class="card p-3 mb-5 shadow rounded-1 border-0">
  <p class="d-flex justify-content-between">
    <span
      ><img
        src=""
        alt="By"
        class="img-fluid rounded-circle bg-dark"
        height="48px"
      />
      <span>{{pitch.user.username}}</span></span
    >
    <span>2 mins ago</span>
    <span class="badge bg-secondary"
      >{{pitch.category.name.replace('_',' ',1)}}</span
    >
  </p>
  <!-- <p>I am very passionate about technology, I see everything techwise. I continue to work on projects so that when I get an opportunity to make a  difference, I will be ready.</p> -->
  <p>{{pitch.content}}</p>
  <div class="activity d-flex justify-content-around" id={{pitch.id}}>
    <span
      ><span class="badge  mx-1"
        ><button class="rounded-pill border-0 px-0 " ><i
            class="fa fa-thumbs-up px-3 rounded-pill fs-5 text-secondary rounded border-0 upvote {%if downvotes[pitch.id]%}{{pitch.id}}{%endif%}" name="upvote" value="like"
          ></i></button></span
      ><span class="badge bg-primary" >{{upvotes[pitch.id] or 0}}</span> Upvote</span
    ><span><span class="badge  mx-1"
      ><button class="rounded-pill border-0  px-0" ><i
          class="fa fa-thumbs-down px-3 rounded-pill fs-5 text-secondary border-0 downvote" name="downvote" value="dislike"
        ></i></button></span
    ><span class="badge bg-danger">{{downvotes[pitch.id] or 0}}</span>Downvote</span>
    <span>
      <span class="badge  bg-outline-primary mx-1"
        ><a href=""
          ><i
            class="fa fa-comment px-3 fs-5 text-secondary rounded border-0"
          ></i></a></span
      >
      <a href="{{url_for('main.single_pitch',pitch_id=pitch.id)}}"><span class="badge bg-secondary">{{comments[pitch.id] or 0}}</span>Comment</span></a>
  </div>
</div>
{% endfor %} {% endmacro %}

{% macro displayCommentList(comments_list) %}
<hr>
<h5>Comments</h5>
{% for comment in comments_list%}
<div class="card my-3 p-2 border-0">

  <p>Comment by {{comment.user.username}} on {{comment.time_posted}}</p>
  <p>{{comment.content}}</p>
</div>
{% endfor %}
{% endmacro %}