{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {% import
'macros.html' as macro %} {%block content%}

<div class="container">
  <div class="row mt-3">
    <div class="col-md-8 col-lg-8 px-lg-5">
      {% if pitch %}
      {{macro.displayPitchList([pitch],comments_count,upvotes,downvotes,user_votes)}}

      {% if comment_form %}
      <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleCommentForm" aria-expanded="false" aria-controls="collapseExample">
        Write Comment
      </button>
      <div class="m-lg-3 collapse" id="collapsibleCommentForm">
        {{ wtf.quick_form(comment_form) }} {{simplemde.load}}
      </div>

      {% if comments%}
      {{macro.displayCommentList(comments)}} 
      {% else%}
      <p>No comments yet</p>
      {%endif%}
      {% endif %} 
      
      {% else %}
      <p>No Pitch Found</p>
      {% endif %}
    </div>

    <div class="col-md-4 col-lg-4">
      <div class="card px-lg-5 my-lg-5 shadow">
        <h5>Category</h5>
        <ul class="list-unstyled">
          <li class="m-2"><a href="{{url_for('main.category',category_name='interview')}}"> Interview Pitches</a></li>
          <li class="m-2"><a href="{{url_for('main.category',category_name='pickup_lines')}}"> Pickup Lines</a></li>
          <li class="m-2"><a href="{{url_for('main.category',category_name='product_pitch')}}"> Product Pitches </a></li>
          <li class="m-2"><a href="{{url_for('main.category',category_name='promotional_pitch')}}"> Promotional Pitches</a></li>

        </ul>
      </div>
    </div>
  </div>
</div>
{%endblock%}
